<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GUIDY</title>
    <link rel="stylesheet" href="static/style.css"> <!-- ścieżka dla Flask, zamień na 'style.css' jeśli testujesz luzem -->
</head>
<body>
    <div class="container">
        <div class="left-panel">
            <img src="static/logo.png" alt="Logo" class="logo"> <!-- zastąp swoim logo -->
            <h1>GUIDY</h1>
            <a href="/login" class="btn">Let's Get Started</a>
        </div>
        <div class="right-panel">
            <img src="static/entry.png" alt="Background art" class="full-image">
            <!-- <div class="right-text">
                Spend your trip<br><b>better</b>
            </div> -->
        </div>
    </div>
</body>
</html>
